<h2>My Visits</h2>

<%- include("common/header", {isAdmin: isAdmin}) %> <!-- common header fo all pages -->

<table>
    <thead>
        <tr>
            <th>Pet ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% appointments.forEach(appt => { %>
            <tr>
                <td><%= appt.petId %></td>
                <td><%= appt.date %></td>
                <td><%= appt.time %></td>
                <td><%= appt.userName %></td>
                <td>
                    <a href="/delete-appointment/<%= appt._id %>">Cancel</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>