<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <link rel="icon" type="image/x-icon" href="./img/paw.png">
</head>

<style>
    body {
        background-image: url("./img/bg2.png");
        background-attachment: fixed;  
        background-size: cover;
        color: white;
    }
</style>

<body>

  <p>Thank you for considering to adopt our pets. Here are the pets that are adoptable currently:</p>

  <!-- EJS conditional block: Check if there are any pet list -->
  <% if (petList.length === 0) { %>
    <p>No pets yet.</p> <!-- Message when there is no pets -->
    
  <% } else { %>
    
    <h2>Adoptable Pets</h2>

    <table border="1">
        <tr>
          <th>No.</th>  
          <th>Breed</th>
          <th>Name</th>
          <th>Age (years)</th>
          <th>Description</th>
          <th>Adopt?</th>
        </tr>

        <% let i = 1; %>

        <!-- EJS loop to render each pet -->
        <% petList.forEach(pet => { %>
      
          <tr>
            <td><%= i %>.</td>
            <td><%= pet.type %></td><!-- Display the pet type -->
            <td><%= pet.name %></td><!-- Display the pet name -->
            <td><%= pet.age %></td><!-- Display the pet age -->
            <td><%= pet.desc %></td><!-- Display the pet description -->
            <td>
              <!-- Smth smth add validation only can choose 1 pet to adopt & retain selection value -->
              <input type="checkbox" name="selectPet" value="<%= pet.name %>">
            </td>
          </tr>

          <% i++; %>

        <% }); %>

    </table>
    
  <% } %>
     
</body>
</html>