<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Records</title>
    <link rel="icon" type="image/x-icon" href="./img/paw.png">
</head>

<style>
    body {
        background-image: url("./img/bg2.png");
        background-attachment: fixed;  
        background-size: cover;
        color: white;
    }
    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 10px 15px;
        text-align: left;
    }
</style>

<body>

  <%- include("common/header", {isAdmin: isAdmin}) %>

  <% if (typeof error !== 'undefined') { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  
  <!-- EJS conditional block: Check if there are any pet list -->
  <% if (petList.length === 0) { %>
    <p>No pets yet.</p> <!-- Message when there is no pets -->
    
  <% } else { %>
    
    <h2>Pet Records</h2>

    <form action="/adopted-pets" method="post">
      <p>Hey <%= userName %>! Thank you for considering to adopt our pets. Here are the pets that are adoptable currently <mark>(you can only choose one)</mark>:</p>

      <table border="1">
          <tr>
            <th style="background-color: rgb(88, 87, 86);">No.</th>  
            <th style="background-color: rgb(88, 87, 86);">Record ID</th>
            <th style="background-color: rgb(88, 87, 86);">Breed</th>
            <th style="background-color: rgb(88, 87, 86);">Name</th>
            <th style="background-color: rgb(88, 87, 86);">Age (years)</th>
            <th style="background-color: rgb(88, 87, 86);">Description</th>
            <th style="background-color: rgb(88, 87, 86);">Photo</th>
            <th style="background-color: rgb(88, 87, 86);">Favourites</th>
            <th style="background-color: rgb(88, 87, 86);">Adopt?</th>
          </tr>

          <!-- For counter -->
          <% let i = 1; %>
          <% let dogCount = 0; %>
          <% let catCount = 0; %>

          <!-- EJS loop to render each pet -->
          <% petList.forEach(pet => { %>
        
            <tr>
              <td><%= i %>.</td>
              <td><%= pet.id %></td>
              <td><%= pet.type %></td>
              <td><%= pet.name %></td>
              <td><%= pet.age %></td>
              <td><%= pet.desc %></td>
              <td><img src ="/pet-img/<%=pet.photo %>" width="100"> </td>
              <td>
                <% if (favouriteList.includes(pet.id)) { %>
                  <a href="/remove-favourite?petID=<%=pet.id%>">❤️ Remove</a>
                <% } else { %>
                  <a href="/add-favourite?petID=<%=pet.id%>">🤍 Add</a>
                <% } %>
              </td>
              <td>
                <!-- Smth smth add validation only can choose 1 pet to adopt & retain selection value -->
                <input type="radio" name="selectPet" value="<%= pet.id %>">
              </td>
            </tr>

            <!-- Counter for dog, cat & no. -->
            <% if (pet.type.toLowerCase() === "dog") { dogCount++; } %>
            <% if (pet.type.toLowerCase() === "cat") { catCount++; } %>
            <% i++; %>

          <% }); %>
      </table>
      <input type="hidden" name="admin" value="<% isAdmin %>">
      
      
      <br>
      <button>Adopt!</button>

    </form>

    <br>
    <hr>

    <h2>Summary</h2>
    <table border="1">
      <tr>
        <th style="background-color: rgb(88, 87, 86);">Total Type</th>
        <th style="background-color: rgb(88, 87, 86);">Count</th>
      </tr>

      <tr>
        <th>Dogs</th>
        <td><%= dogCount %></td>
      </tr>

      <tr>
        <th>Cats</th>
        <td><%= catCount %></td>
      </tr>

      <tr>
        <th style="background-color: rgb(144, 128, 108);">Pets</th>
        <td style="background-color: rgb(144, 128, 108);"><%= i - 1 %></td>
      </tr>
    </table>
    
  <% } %>
     
</body>
</html>